/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Lato';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 40px;
	font-family: 'Lato', Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header h1 a{
	color: rgb(230, 0, 0);
	font-size: 50px;
	text-decoration: none;
}

header {
	line-height: 3em;
}

header h2 {
	font-size: 24px;
}

header nav a{
	font-size: 25px;
	color: lightgrey;
	word-spacing: 20px;
}

h3{
	font-size: 40px;
	color: lightgrey;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

article h2 a{
	text-decoration: none;
	color: black;
	font-size: 40px;
}

h2{
	margin-bottom: 15px;
}

p{
	font-size: 16px;
	line-height: 1.6em;
	margin-top: 15px;
	padding-bottom: 60px;
}


article h4 a{
	float: right;
	color: rgb(230, 0, 0);
	font-size: 20px;
	text-decoration: none;
}

footer nav a{
	color: rgb(230, 0, 0);
	text-decoration: none;
	font-size: 18px;
	margin-bottom: 20px;
}

footer p{
	color: lightgrey;
	font-size: 18px;
	margin-top: 20px;
}

footer nav{
	border-top: 1px solid lightgrey;
	margin-top: 20px;
	padding-top: 40px;
}

article + article{
	border-top: 1px solid lightgrey;
	margin-top: 20px;
	padding-top: 40px;
}

article{
	padding-bottom: 50px;
}

article p::first-letter{
	color: lightgray;
	font-size: 100px;
	margin-top: 15px;
	padding-top: 15px;
	float: left;
}

img{
	width: 100%;
}


